# GMAIL CONFIG
GMAIL_USER=suaigreja@gmail.com
# Senha gerada em: Conta Google > Segurança > Verificação em 2 Etapas > Senhas de app
GMAIL_APP_PASSWORD=xxyyzzxxyyzzxxyy

# WHATSAPP API (META) CONFIG
# Você consegue isso criando um app de desenvolvedor gratuito no business.facebook.com
WHATSAPP_TOKEN=EAAGXXXXYYYYZZZZZ...
WHATSAPP_PHONE_ID=123456789012345
